*{
    /* border: solid 1px blueviolet; */
}
.App {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #dddfe6 ;
}
.Selfinfor{
  position: relative;
  width: 50vw;
  top: 5vh;
  height: fit-content;
  margin: 0 auto;
}
.CardBox{
  position: relative;
  background-color: rgb(241, 240, 240);
}
.Information{
  position: relative;
  display: flex;

}
.intorduce{
  width: 20vw;
  text-align: center;
  padding-top: 3vh;
  margin-left: 8vw;

}
.photo{
  position: relative;
  bottom: 8px;
  padding-top: 3vh;
  width: 200px;
  border: solid 1px black;
}
.CV{
  position: relative;
  width: 50vw;
  top: 10vh ;
  height: fit-content;
  margin: 0 auto;
}